/ClassGenerator.java
/ModuleStructureGenerator.java
/PrismGenerator.java
/GenerateJPrismModule.java
/.ClassGenerator.java._trace
/.ClassGenerator.xtendbin
/.ModuleStructureGenerator.java._trace
/.ModuleStructureGenerator.xtendbin
/.PrismGenerator.java._trace
/.PrismGenerator.xtendbin
