<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.cmg.ml.sam.extensions.component" name="jSAMComponent" schema="schema/org.cmg.ml.sam.extensions.component.exsd"/>
   <extension-point id="org.cmg.ml.sam.extensions.specification" name="jSAMSpecification" schema="schema/org.cmg.ml.sam.extensions.specification.exsd"/>
   <extension-point id="org.cmg.ml.sam.extensions.modelchecker" name="jSAMModelChecker" schema="schema/org.cmg.ml.sam.extensions.modelchecker.exsd"/>
   <extension-point id="org.cmg.ml.sam.extensions.simulator" name="jSAMSimulator" schema="schema/org.cmg.ml.sam.extensions.simulator.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sam">
            <command
                  commandId="org.cmg.ml.sam.command.Simulate"
                  icon="icons/simulate.gif"
                  style="push">
            </command>
            <command
                  commandId="org.cmg.ml.sam.command.ModelChecking"
                  icon="icons/modelchecking.gif"
                  style="push">
            </command>
            <command
                  commandId="org.cmg.ml.sam.command.Execute"
                  icon="icons/execute.gif"
                  style="push">
            </command>
            <command
                  commandId="org.cmg.ml.sam.command.Export"
                  icon="icons/export_wiz.gif"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.cmg.ml.sam.toolbar1">
            <command
                  commandId="org.cmg.ml.sam.command.Simulate"
                  icon="icons/simulate.gif"
                  style="push"
                  tooltip="Simulation tool">
            </command>
            <command
                  commandId="org.cmg.ml.sam.command.ModelChecking"
                  icon="icons/modelchecking.gif"
                  style="push"
                  tooltip="Model-checking tool">
            </command>
            <command
                  commandId="org.cmg.ml.sam.command.Execute"
                  icon="icons/execute.gif"
                  style="push">
            </command>
            <command
                  commandId="org.cmg.ml.sam.command.Export"
                  icon="icons/export_wiz.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.cmg.ml.sam.command.catecory"
            name="Sam Category">
      </category>
      <command
            categoryId="org.cmg.ml.sam.command.catecory"
            id="org.cmg.ml.sam.command.Simulate"
            name="Simulation">
      </command>
      <command
            categoryId="org.cmg.ml.sam.command.catecory"
            id="org.cmg.ml.sam.command.ModelChecking"
            name="Model-checking">
      </command>
      <command
            categoryId="org.cmg.ml.sam.command.catecory"
            id="org.cmg.ml.sam.command.Execute"
            name="Execute">
      </command>
      <command
            categoryId="org.cmg.ml.sam.command.catecory"
            id="org.cmg.ml.sam.command.Export"
            name="Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.cmg.ml.sam.wizards"
            name="Sam">
      </category>
      <wizard
            category="org.cmg.ml.sam.wizards"
            class="org.cmg.ml.sam.wizards.NewProjectWizard"
            icon="icons/newproject.gif"
            id="org.cmg.ml.sam.wizard.newProject"
            name="New Sam project">
      </wizard>
      <wizard
            category="org.cmg.ml.sam.wizards"
            class="org.cmg.ml.sam.wizards.NewSpecificationWizard"
            icon="icons/newnet.gif"
            id="org.cmg.ml.sam.wizard.newNet"
            name="New SAM Specification">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.cmg.ml.sam.handlers.ModelCheckingHandler"
            commandId="org.cmg.ml.sam.command.ModelChecking">
      </handler>
      <handler
            class="org.cmg.ml.sam.handlers.SimulationHandler"
            commandId="org.cmg.ml.sam.command.Simulate">
      </handler>
      <handler
            class="org.cmg.ml.sam.handlers.ExecuteHandler"
            commandId="org.cmg.ml.sam.command.Execute">
      </handler>
      <handler
            class="org.cmg.ml.sam.handlers.ExportHandler"
            commandId="org.cmg.ml.sam.command.Export">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.cmg.ml.sam"
            class="org.cmg.ml.views.ModelCheckingView"
            id="org.cmg.ml.sam.views.ModelCheckingView"
            name="Model checking View"
            restorable="true">
      </view>
      <view
            category="org.cmg.ml.sam.views"
            class="org.cmg.ml.views.GraphView"
            id="org.cmg.ml.sam.views.GraphView"
            name="Graph View">
      </view>
      <category
            id="org.cmg.ml.sam"
            name="SAM Views">
      </category>
      <view
            category="org.cmg.ml.sam"
            class="org.cmg.ml.sam.views.SAMModelCheckingView"
            icon="icons/sample.gif"
            id="org.cmg.ml.sam.views.SAMModelCheckingView"
            name="SAM Model Checking Panel">
      </view>
      <view
            allowMultiple="false"
            category="org.cmg.ml.sam"
            class="org.cmg.ml.sam.views.SAMSimulationView"
            id="org.cmg.ml.sam.views.SAMSimulationView"
            name="SAM Simulation Panel"
            restorable="true">
      </view>
   </extension>
   <extension
         id="org.cmg.ml.sam.SamNature"
         name="Sam Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cmg.ml.sam.SamNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.xtext.ui.shared.xtextNature">
      </requires-nature>
      <builder
            id="org.cmg.ml.sam.projectbuilder">
      </builder>
   </extension>
   <extension
         id="org.cmg.ml.sam.projectbuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.cmg.ml.sam.SamProjectBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.cmg.ml.sam.views.SAMModelCheckingView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.cmg.ml.sam.PerspectiveFactory"
            id="org.cmg.ml.sam.perspective"
            name="SAM Perspective">
      </perspective>
   </extension>

</plugin>
