<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cmg.org/ml/sam/xtext/prism/Prism" 
       class = "org.cmg.ml.sam.xtext.prism.prism.PrismPackage"
       genModel = "org/cmg/ml/sam/xtext/prism/Prism.genmodel" /> 
	
  </extension>




</plugin>
