/ModuleStructure.java
/RenamedElement.java
/RuleStructure.java
/SymbolTable.java
/SymbolTableCollector.java
/UpdateStructure.java
/.ModuleStructure.java._trace
/.ModuleStructure.xtendbin
/.RenamedElement.java._trace
/.RenamedElement.xtendbin
/.RuleStructure.java._trace
/.RuleStructure.xtendbin
/.SymbolTable.java._trace
/.SymbolTable.xtendbin
/.SymbolTableCollector.java._trace
/.SymbolTableCollector.xtendbin
/.UpdateStructure.java._trace
/.UpdateStructure.xtendbin
